.newsWrap {
  display: flex;
  justify-content: space-between;
}

.newsCard {
  width: 166px;
  height: 166px;
  border-radius: 10px;
  background-color: cadetblue;
  background-size: 166px 166px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsCard:hover {
  transform: translateY(-5px);
}
