.header {
  display: flex;
  justify-content: space-between;
}

.sliderArrows {
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrowButtonsWrap {
  width: 30px;
  height: 30px;
}

.newsWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
