.newsButtonArrows {
	border-radius: 50%;
	box-sizing: border-box;
	height: 32px;
	padding: 4px;
	position: absolute;
	top: 50%;
	width: 32px;
	cursor: pointer;
	z-index: 999;
}

.left {
	left: -48px;
}

.right {
	right: -48px;
}

.newsButtonArrows button {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: #abbeea;
	box-shadow: 2px 2px 0 0 #110c0b;
	transition: transform 0.5s;
}

.newsButtonArrows button:active {
	transform: scale(80%);
}

.newsButtonArrows button:disabled {
	opacity: 0.5;
}
