@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 30px;
    background-color: #336fee;
  }
}

.modal {
  position: relative;
  width: 365px;
  height: 650px;
  background-color: black;
  margin: auto;
  border-radius: 20px;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: aliceblue;
  cursor: pointer;
}

.modal.open {
  opacity: 1;
}

.newsButtonArrows {
  border-radius: 50%;
  box-sizing: border-box;
  height: 32px;
  padding: 4px;
  position: absolute;
  top: 50%;
  width: 32px;
  cursor: pointer;
}

.left {
  left: -48px;
}

.right {
  right: -48px;
}

.newsButtonArrows button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #abbeea;
  box-shadow: 2px 2px 0 0 #110c0b;
  transition: transform 0.5s;
}

.newsButtonArrows button:active {
  transform: scale(80%);
}

.newsButtonArrows button:disabled {
  opacity: 0.5;
}

.progressBarWrap {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 20px 20px 0 0;

  display: flex;
  justify-content: space-between;
}

.progressBarContainer {
  width: 30px;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.5);
}

.progressBar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.progressBar.active {
  animation-name: progress;
  animation-duration: 5s;
  animation-fill-mode: none;
}

.text0 {
  width: 100%;
  background-color: rgb(14, 22, 30);
  padding-top: 25px;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
}

.text1 {
  width: 100%;
  background-color: darkblue;
  flex-grow: 1;
}

.text2 {
  width: 100%;
  background-color: aqua;
  border-radius: 0 0 20px 20px;
  flex-grow: 1;
}
